<div id="<%= dom_id tweet %>" class="card col-4">
  <div class="card-body">
    <h5 class="card-title">Profile</h5>
      <div class="d-flex flex-row gap-3 mb-2">
      <%= image_tag tweet.profile, width: 50, height: 50, alt: "Profile Image" %>
      <div class="align-self-center">
        <p class="card-text">
          <strong>Username:</strong>
          <%= tweet.username %>
        </p>
        <p class="card-text m-0">
          <strong>Description:</strong>
        </p>
        <p class="card-text">
      <%= tweet.description %>
      </div>
      </div>
    </p>
  </div>
</div>

