<p style="color: green"><%= notice %></p>

<%= render @tweet %>

<div>
  <%= link_to "Volver", tweets_path, class: "btn btn-secondary" %>
  <%= link_to "Editar", edit_tweet_path(@tweet), class: "btn btn-primary" %>
</div>
